.sleep-box {
  background: #f3f3f3;
  padding: 40px;
  border-radius: 12px;
  max-width: 300px;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
  

  h2 {
    color: #a61667;
  }

  input {
    width: 80px;
    padding: 5px;
    margin: 5px;
  }

  button {
    background: #4e5aa2;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background: #2c3a8c;
    }
  }

  p {
    margin-top: 10px;
    font-weight: bold;
  }
}
